<div class="container">
  <form
    #staysFilterForm="ngForm"
    class="md:flex justify-center"
    (ngSubmit)="filterHouses()"
  >
    <div>
      <label
        class="after:content-['*'] after:ml-0.5 after:text-red-500 block font-medium text-slate-700 mt-2"
      >
        Location
      </label>
      <select
        [(ngModel)]="search.city"
        type="text"
        name="location"
        class="rounded-lg text-xs focus:border-rose-500 ring-rose-500 mt-1 w-52"
        placeholder="you@example.com"
        required
        #location="ngModel"
      >
        <option value="Helsinki">Helsinki</option>
        <option value="Turku">Turku</option>
        <option value="Oulu">Oulu</option>
        <option value="Vaasa">Vaasa</option>
      </select>
      <div
        [hidden]="location.valid || location.pristine"
        class="alert alert-danger"
      >
        Location is required
      </div>
    </div>
    <div>
      <label
        class="after:content-['*'] after:ml-0.5 after:text-red-500 block font-medium text-slate-700 mt-2"
      >
        Guests
      </label>
      <input
        [(ngModel)]="search.guests"
        type="number"
        name="guests"
        class="rounded-lg text-xs border-zinc-200 focus:border-rose-500 ring-rose-500 mt-1"
        placeholder="3"
        size="40"
        required
        #guests="ngModel"
      />
      <div
        [hidden]="guests.valid || guests.pristine"
        class="alert alert-danger"
      >
        Guests is required
      </div>
    </div>
    <div>
      <button
        mat-raised-button
        color="accent"
        class="block mt-6 md:mt-7 ms-7"
        [disabled]="!staysFilterForm.form.valid"
        routerLink="/search"
      >
        <mat-icon
          aria-hidden="false"
          aria-label="star"
          fontIcon="search"
          class="mb-0 mr-0 font-bold"
        ></mat-icon>
        Search
      </button>
    </div>
  </form>
</div>
