<mat-card class="w-72 m-7 rounded-2xl h-60 shadow-md">
  <img
    mat-card-image
    class="h-40 rounded-2xl"
    [src]="house?.photo"
    alt="Photo of a House"
  />
  <mat-card-content class="ps-3">
    <div class="container flex my-1 items-center">
      <div class="container flex items-center">
        <mat-chip
          *ngIf="house?.superHost"
          class="me-1 border border-zinc-400 bg-white h-6"
          ><span class="uppercase font-bold text-[8px] p-0 text-zinc-600"
            >super host</span
          ></mat-chip
        >
        <p class="mb-0 text-zinc-700 text-[11px]">
          {{ house?.type }}. {{ house?.beds ? house?.beds + " beds" : null }}
        </p>
      </div>
      <p class="flex items-center text-[11px] mb-0">
        <mat-icon
          aria-hidden="false"
          aria-label="star"
          fontIcon="star"
          class="text-rose-500"
        ></mat-icon>
        <span> {{ house?.rating }}</span>
      </p>
    </div>

    <p>{{ house?.title }}</p>
  </mat-card-content>
</mat-card>
