<div class="p-5 flex flex-col md:flex-row justify-between">
  <div class="mb-7">
    <img src="../../../assets/logo.png" alt="Logo" />
  </div>
  <div
    class="container border max-w-fit shadow-sm flex items-center h-10 rounded-md cursor-pointer"
  >
    <p class="mb-0 px-6">Helsinki, Finland</p>
    <p class="border mb-0 px-4 h-10 pt-2 text-neutral-500">Add Guests</p>

    <mat-icon
      aria-hidden="false"
      aria-label="star"
      fontIcon="search"
      class="text-rose-500 mx-4 font-bold"
    ></mat-icon>
  </div>
</div>
