<div class="container pt-4 pb-2 px-5 fixed top-0 right-0 left-0 z-[1] bg-white">
  <div
    class="flex md:flex-row justify-between"
    [class]="hideFilter ? 'flex-col' : 'flex-row'"
  >
    <div class="mb-7 cursor-pointer" routerLink="">
      <img src="../../../assets/logo.png" alt="Logo" />
    </div>
    <div
      class="container border max-w-fit shadow-sm flex items-center h-10 rounded-md cursor-pointer"
      (click)="showFilter()"
      *ngIf="hideFilter"
    >
      <div *ngIf="filterParams$ | async as params" class="flex">
        <p class="mb-0 px-6 pt-2">{{ params.city }}, Finland</p>
        <p class="border mb-0 px-4 h-10 pt-2 text-neutral-500">
          {{ params.guests }}
        </p>
      </div>

      <mat-icon
        aria-hidden="false"
        aria-label="search"
        fontIcon="search"
        class="text-rose-500 mx-4 font-bold hover:text-rose-600"
      ></mat-icon>
    </div>
    <mat-icon
      aria-hidden="false"
      aria-label="close"
      fontIcon="close"
      class="text-rose-500 font-bold hover:text-rose-600 cursor-pointer"
      *ngIf="!hideFilter"
      (click)="showFilter()"
    ></mat-icon>
  </div>
  <div class="container pt-6" *ngIf="!hideFilter">
    <app-filter></app-filter>
  </div>
</div>
