/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif !important;
}

.mat-typography {
  font-size: 12px !important;
  font-weight: 500 !important;
  line-height: 20px;
  /* font-family: Roboto, sans-serif; */
  letter-spacing: 0.0178571429em;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
